# Unity files
/Game_Engine/Library/*
/Game_Engine/Temp/*
/Game_Engine/obj/*
/Game_Engine/*.suo
/Game_Engine/*.userprefs
/Game_Engine/*.pidb
/Game_Engine/*.csproj
/Game_Engine/*.sln

# Mac Files
*.DS_Store

# Blender backups
*.blender[0-9]+

# nano backups
*.save
